@import url("transitions.css");

body {
	margin: 0px;
}

#footer {
	position: fixed;
	bottom: -20;
	left: 0;
}

.menu-item {
	float:left;
}

.header {
	width:100%;
	position:fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.header-nav {
	display:block;
	margin:0px auto;
}

.header-right {
	float: right;
}

.center {
	margin: 0px auto;
}

.page-width {
	width: 980px;
}

.page {
	height: 100%;
	background-color: white;
	margin: 0px auto;
}
